<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count lines in file!</title>
    <style>
        table, th, td {
  border: 1px solid black;
  padding: 5px;
}
    </style>
</head>
<body>
    <a href="{{ url_for('index', key=key) }}">Home</a>
    <form action="{{ url_for('count_lines_file', key=key) }}" method="post" enctype='multipart/form-data'>
        <input type="file" name="text_file" required>
        <input placeholder="Enter email to be notified" type="text" name="email" required>
        <button type="submit">Submit</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>

        <form action="{{ url_for('check_status', task_id=task_id) }}">
            <button>View Task</button>
        </form>
        
        <form action="{{ url_for('stop_task') }}" method="post">
            <input type="hidden" value={{ task_id }} name="task_id">
            <button>Cancel Task</button>
        </form>
        {% if jobs | length > 0 %}
            <p>Queued tasks:</p>
            <table>
                <tbody>
                    <tr>
                        <th>Task ID</th>
                        <th>Task Enqueued At</th>
                    </tr>
                    {%for job in jobs%}
                    <tr>
                        <td>{{ job.id }}</td>
                        <td>{{ job.enqueued_at.strftime('%a, %d %b %Y %H:%M:%S') }}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
</body>
</html>